* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.container {
    width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;

    display: flex;
    margin-top: -35px;
    gap: 40px;
    justify-content: center;
    margin-left: 260px;
}

li a {
    color: white;
    font-size: 1em;
    text-decoration: none;
 font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;


    
}

li a:visited {
    color: #ffcc00;

}

nav img {
    width: 120px;
    height: 50px;
    margin-right: 65%;
    margin-top: 8px;
    animation: icon 5s linear infinite;
}
@keyframes icon {
    0%{ transform: rotateY( 0deg);}
      50%{ transform: rotateY( 360deg);}
       100%{ transform: rotateY( 0deg);}
}
.btn1 {
    padding: 10px 30px 10px 30px;
    background-color: #ffcc00;
color: aliceblue;
    border-radius: 20px;
    margin-left: 20%;
    margin-top: -3px;
    animation: btn 4s linear infinite;

}
@keyframes btn {
     0%{ background-color: #ffcc00;}
      50%{ background-color: #000;}
       100%{background-color: #ffcc00;}
}

.btn1 a {
    text-decoration: none;
    color: whitesmoke;
}

.port img {
    width: 170px;
    height: 250px;
    border-radius: 60px;
 filter: drop-shadow(1px 6px 20px blue);
 transform: scale(0.7);
  opacity: 0;
  animation: zoomIn 1.2s ease-out forwards;
  
    box-shadow: -2px 2px 70px #ffcc00;
    margin-top: -26px;
}
@keyframes zoomIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.port {
    display: flex;
    margin-left: 20%;
    margin-top: 100px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.text {
    margin-left: 1em;
    transform: scale(0.7);
    opacity: 0;
    animation-delay: 3s;
    animation: text 2s ease-out forwards;
     font-family: cursive;
     margin-top: -20px;
}
@keyframes text {
    to{
         transform: scale(1);
    opacity: 1;
    }
}

.text h4 {
    color: #ffcc00;
}
.text p {
    text-align: left ;
}

.contact {
    color: aliceblue;
}
.skills h1{
    text-align: center;
    color: #e5e7eb;
    margin-top: 60px;
    font-size: 2em;
     text-decoration: underline;
}
.box img{

}
.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
   
}
.img1{
    width: 200px;
    height: 70px;
}
.img2{
    width: 70px;
    height: 65px;
    margin-top: 10px;

}

.img3{
    width: 100px;
    height: 100px;
    
}
.img4{
    width: 100px;
    height: 100px;
   
}
.img5{
    width: 100px;
    height: 100px;
   
}
.img6{
    width: 190px;
    height: 100px;
   
}
.img7{
    width: 100px;
    height: 100px;
   
}
.img8{
    width: 160px;
    height: 100px;
   
}


.tools h1{
    text-align: center;
    color: #e5e7eb;
    margin-top: 60px;
    font-size: 2em;
    text-decoration: underline;
   
}
.box2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
   gap: 40px;
}
.imgvs{

    width: 100px;
    height: 100px;
}

.imgnote{

    width: 100px;
    height: 100px;
}
.imgn{

    width: 100px;
    height: 100px;
}
.img4code{

    width: 100px;
    height: 100px;
}
.imgreplit{
     width: 200px;
    height: 200px;
    margin-top: -50px;
}
.hobby h1{
    text-align: center;
    color: #e5e7eb;
    margin-top: 60px;
    font-size: 2em;
    text-decoration: underline;
   
}
.box3 p{
    color: whitesmoke;
    margin-left: 28%;
    text-align: center;
    max-width: 500px;
    margin-top: 40px;
    font-weight: bolder;
}
.game{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    color: honeydew;
}
.game1{
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.game2{
 width: 200px;
    height: 300px;
    border-radius: 20px;
}
.game3{
    width: 200px;
    height: 300px;
    border-radius: 20px;
}


.p1{
    font-size: 2em;
    position: relative;
    top: -150px;
    left: -158px;
    transition: 1s;
   
      color: red;
         background-color: black;
   border-radius: 20px ;
   border: none;
   padding: 10px 20px 10px 20px ;
}
.p2{
    font-size: 2em;
    position: relative;
    top: -150px;
    padding: 10px 20px 10px 20px ;
    left: -158px;
    transition: 1s;
   
       background-color: red;
   border-radius: 20px ;
   border: none;
}
.p3{
    padding: 10px 20px 10px 20px ;
    font-size: 2em;
    position: relative;
    top: -150px;
   left: -158px;
    transition: 1s;
    
   color: pink;
   border: none;
   background-color: red;
   border-radius: 20px ;
}

.pro a{

color: #e5e7eb; 

}
.my-pro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-size: 2em;
    margin-top: 40px;
}
.con p{
    color: white;
    text-align: left;
    margin-top: 50px;
    margin-left: 40px;
}
form{
    color: #e5e7eb;
    margin-left: 38%;
    
}
input{
    border: none;
    margin-top: 30px;
    padding: 10px 100px 10px 5px;
}
.sub{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
}
.res{
    background-color: red;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    margin-left: 30px;
}


.box3{
    margin-left: -40px;
}


@media screen and (max-width: 887px) {
    .btn1{
        padding: 8px 30px 8px 30px;
  
    margin-left: 10%;
  
    }
    li a {
    
    font-size: 0.7em;
}
}

@media screen and (max-width: 805px) {
    .btn1{
        padding: 8px 30px 8px 30px;
  
    margin-left: 5%;
  
    
}
}

@media screen and (max-width: 773px) {
    .btn1{
        padding: 8px 30px 8px 30px;
  
    margin-left: 1%;
  
    }
   ul {
    list-style: none;

    display: flex;
    margin-top: -35px;
    gap: 30px;
    justify-content: center;
    margin-left: 200px;
   }
.box3 p{
    margin-left: 60px;
}
}
@media screen and (max-width: 600px) {
    .port {
        flex-direction: column;

    }
    .text{
        margin-top: 40px;
    }

    ul {




        gap: 20px;

        margin-left: 80px;
    }

    nav img {
        width: 70px;
        height: 40px;
        margin-right: 67%;
        margin-top: 8px;
    }
    li a {
    font-size: 0.6em;
}

.btn1 {
    padding: 5px 15px 5px 15px;
  
font-size: 0.7em;
   
    margin-left: 5%;
    margin-top: -3px;
}
.port img {
    width: 300px;
    height: 350px;
   margin-left: -20px;
    margin-top: -26px;
}
.text h2{
    font-size: 2em ;
}
.text p{
    font-size: 0.97em;

}
.container{
     width: 100vw;
    height: 100vh;
}


}

@media screen and (max-width: 628px) {
   .btn1{

    padding: 5px 20px 5px 20px;
  
    margin-left: -2%;
   }
   form{
     margin-left: 33%;
   }
  
}
@media screen and (max-width: 403px) {
   .btn1{

    padding: 5px 18px 5px 18px;
  
    margin-left: -3%;
   }
  
}
@media screen and (max-width: 396px) {
   .btn1{

    padding: 5px 15px 5px 15px;
  
    margin-left: -4%;
   }
   form{
    margin-left: 30%;
}
  
}
@media screen and (max-width: 387px) {
   .btn1{

    padding: 5px 10px 5px 10px;
  
    margin-left: -4%;
   }
  
}
@media screen and (max-width: 387px) {
   .btn1{

    padding: 5px 10px 5px 10px;
  
    margin-left: -4%;
   }
   form{
    margin-left: 25%;
   }
  
}



@media screen and (max-width: 324px) {
   .btn1{

    padding: 3px 7px 3px 7px;
  
    margin-left: -6%;
   }
  
}
@media screen and (min-width: 300px) and (max-width: 380px) {
   .btn1{

    padding: 2px 7px 2px 7px;
  
    margin-left: -5%;
   }
  form{
    margin-left: 15%;
  }
}

@media screen and (max-width: 440px) {

  form{
    margin-left: 16%;
  }
}
@media screen and (max-width: 924px) {

  form{
    margin-left: 38%;
  }
    .btn1{

    padding: 5px 25px 5px 25px;
  
    margin-left: -2%;
   }
}

@media screen and (max-width: 550px) {

  form{
    margin-left: 30%;
  }
   
}

@media screen and (max-width: 355px) {

  form{
    margin-left: 14%;
  }
  li a{
    font-size: 0.2em;
  }

   .btn1{

    padding: 2px 10px 2px 10px;
  
    margin-left: -3%;
   }
   
}

@media screen and (max-width: 385px) {

 

   .btn1{

    padding: 3px 8px 3px 8px;
  
    margin-left: -5%;
   }
   li a{
    font-size: 0.2;
   }
   
}

@media screen and (max-width: 391px) {

 

   .btn1{

    padding: 3px 8px 3px 8px;
  
    margin-left: -5%;
    margin-top: 2.5px;
   }
   li a{
    font-size: 0.5em;
   }
   form{
    margin-left: 2%;
   }

   .port img {
    width: 250px;
    height: 350px;
    margin-left: -15px;
 }

 .text {
    margin-left: 0.6em;
  
}
}

@media screen and (max-width: 924px) {

  form{
    margin-left: 38%;
  }
    .btn1{

    padding: 5px 25px 5px 25px;
  
    margin-left: -2%;
   }
}

@media screen and (max-width: 500px) and (min-width:419px) {

  form{
    margin-left: 3%;
  }
    .btn1{

    padding: 5px 10px 5px 10px;
  
    margin-left: -3%;
   }
   
   ul {
   
    margin-left: 50px;
   }
}

@media screen and (max-width: 328px) {

  form{
    margin-left: 3%;
  }
    .btn1{

    padding: 3px 10px 3px 10px;
  
    margin-left: -3%;
   }
   
   ul {
   
    margin-left: 50px;
   }

      li a{
    font-size: 0.3em;
   }
}


@media screen and (min-width: 328px) and (max-width: 421px) {

  form{
    margin-left: 3%;
  }
    .btn1{

    padding: 3px 10px 3px 10px;
  
    margin-left: -3%;
   }
   
   ul {
   
    margin-left: 50px;
   }

      li a{
    font-size: 0.3em;
   }
}

@media screen and (min-width: 499px) and (max-width: 607px) {

  form{
    margin-left: 20%;
  }
    .btn1{

    padding: 5px 20px 5px 20px;
  
    margin-left: -3%;
   }
   
   ul {
   
    margin-left: 50px;
   }

      li a{
    font-size: 0.7em;
   }
}



@media screen and (min-width: 300px) and (max-width: 443px) {


    .port img {
    width: 230px;
    height: 300px;
    border-radius: 40px;
    margin-left: -40px;
    
}




.text {
    margin-left: -1em;
     margin-top: 50px;
}


   
   ul {
   
    margin-left: 35px;
   }

      li a{
    font-size: 0.1em;
   }

     nav img {
        width: 60px;
     }
}





@media screen and (min-width: 607px) and (max-width: 652px) {
    .btn1{

    padding: 5px 25px 5px 25px;
  
    margin-left: -2%;
   }
   
   ul {
   
    margin-left: 50px;
   }

      li a{
    font-size: 0.7em;
   }


}